SUBSYSTEM=="tty", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="608c", GROUP="users", MODE="0666"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="608c", GROUP="users", MODE="0666"
